In [2]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [3]:
path = r"C:\Users\Maryla\Desktop\MY_PROJECTS\excel files\CycleSalesWorksheets.xlsx"
data=pd.read_excel(path, sheet_name="Transactions")

In [4]:
data.head(5)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [7]:
data.describe()

,transaction_id,product_id,customer_id,online_order,list_price,standard_cost,product_first_sold_date
count,20000.000000,20000.00000,20000.000000,19640.000000,20000.000000,19803.000000,19803.000000
mean,10000.500000,45.36465,1738.246050,0.500458,1107.829449,556.046951,38199.776549
std,5773.647028,30.75359,1011.951046,0.500013,582.825242,405.955660,2875.201110
min,1.000000,0.00000,1.000000,0.000000,12.010000,7.210000,33259.000000
25%,5000.750000,18.00000,857.750000,0.000000,575.270000,215.140000,35667.000000
50%,10000.500000,44.00000,1736.000000,1.000000,1163.890000,507.580000,38216.000000
75%,15000.250000,72.00000,2613.000000,1.000000,1635.300000,795.100000,40672.000000
max,20000.000000,100.00000,5034.000000,1.000000,2091.470000,1759.850000,42710.000000

In [8]:
data.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date           float64
dtype: object

In [12]:
list1 = ["brand", "product_line", "product_class","product_size"]
for x in list1:
    print (data[x].value_counts())
    print ()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [15]:
data.pivot_table(index ="brand", values = "list_price")

                 list_price
brand
Giant Bicycles  1235.407204
Norco Bicycles   913.202450
OHM Cycles       983.706983
Solex           1057.271956
Trek Bicycles   1183.783398
WeareA2B        1263.454813

In [17]:
data.groupby("brand")["list_price"].mean()

brand
Giant Bicycles    1235.407204
Norco Bicycles     913.202450
OHM Cycles         983.706983
Solex             1057.271956
Trek Bicycles     1183.783398
WeareA2B          1263.454813
Name: list_price, dtype: float64

In [20]:
data.pivot_table(index ="brand", values = "list_price", aggfunc = max)

                list_price
brand
Giant Bicycles     1977.36
Norco Bicycles     1661.92
OHM Cycles         2005.66
Solex              2083.94
Trek Bicycles      2091.47
WeareA2B           1992.93

In [21]:
data.groupby("brand")["list_price"].max()

brand
Giant Bicycles    1977.36
Norco Bicycles    1661.92
OHM Cycles        2005.66
Solex             2083.94
Trek Bicycles     2091.47
WeareA2B          1992.93
Name: list_price, dtype: float64

In [25]:
data.pivot_table(index="brand", columns="product_line", values = "list_price", aggfunc = np.mean, fill_value = 0)

product_line    Mountain         Road     Standard      Touring
brand
Giant Bicycles      0.00   951.094128  1255.107490  1873.970000
Norco Bicycles    688.63   817.646338   987.691975     0.000000
OHM Cycles          0.00   966.959089   980.062010  1073.070000
Solex               0.00  1323.944544   955.575795  2083.940000
Trek Bicycles     574.64  1093.277648  1311.262065     0.000000
WeareA2B            0.00  1172.780000  1188.195004  1593.374984

In [41]:
data.groupby(["brand", "product_line"]).agg({"product_line":["count"]})

                            product_line
                                   count
brand          product_line
Giant Bicycles Road                  579
               Standard             2554
               Touring               179
Norco Bicycles Mountain              200
               Road                  923
               Standard             1787
OHM Cycles     Road                  779
               Standard             2035
               Touring               229
Solex          Road                  537
               Standard             3508
               Touring               208
Trek Bicycles  Mountain              223
               Road                  995
               Standard             1772
WeareA2B       Road                  157
               Standard             2520
               Touring               618

In [42]:
data.groupby(["brand", "product_line"]).agg({"list_price":["mean", "count"]})

                              list_price
                                    mean count
brand          product_line
Giant Bicycles Road           951.094128   579
               Standard      1255.107490  2554
               Touring       1873.970000   179
Norco Bicycles Mountain       688.630000   200
               Road           817.646338   923
               Standard       987.691975  1787
OHM Cycles     Road           966.959089   779
               Standard       980.062010  2035
               Touring       1073.070000   229
Solex          Road          1323.944544   537
               Standard       955.575795  3508
               Touring       2083.940000   208
Trek Bicycles  Mountain       574.640000   223
               Road          1093.277648   995
               Standard      1311.262065  1772
WeareA2B       Road          1172.780000   157
               Standard      1188.195004  2520
               Touring       1593.374984   618

In [43]:
data.pivot_table(index=["brand", "product_line"], values = "list_price", aggfunc =[np.mean, len])

                                    mean        len
                              list_price list_price
brand          product_line
Giant Bicycles Road           951.094128      579.0
               Standard      1255.107490     2554.0
               Touring       1873.970000      179.0
Norco Bicycles Mountain       688.630000      200.0
               Road           817.646338      923.0
               Standard       987.691975     1787.0
OHM Cycles     Road           966.959089      779.0
               Standard       980.062010     2035.0
               Touring       1073.070000      229.0
Solex          Road          1323.944544      537.0
               Standard       955.575795     3508.0
               Touring       2083.940000      208.0
Trek Bicycles  Mountain       574.640000      223.0
               Road          1093.277648      995.0
               Standard      1311.262065     1772.0
WeareA2B       Road          1172.780000      157.0
               Standard      1188.195004     2520.0
               Touring       1593.374984      618.0

In [51]:
data.groupby(["brand", "product_line"]).agg({"list_price":  ["median", "count"], "standard_cost": "median"})

                            list_price       standard_cost
                                median count        median
brand          product_line
Giant Bicycles Road             792.90   579        594.68
               Standard        1311.44  2554        709.48
               Touring         1873.97   179        863.95
Norco Bicycles Mountain         688.63   200        612.88
               Road             774.53   923        407.54
               Standard        1148.64  1787        689.18
OHM Cycles     Road            1280.28   779        829.51
               Standard         912.52  2035        137.90
               Touring         1073.07   229        933.84
Solex          Road            1703.52   537        820.78
               Standard        1061.56  3508        431.45
               Touring         2083.94   208        675.03
Trek Bicycles  Mountain         574.64   223        459.71
               Road             980.37   995        400.13
               Standard        1386.84  1772        388.92
WeareA2B       Road            1172.78   157       1043.77
               Standard        1231.15  2520        230.09
               Touring         1466.68   618        260.14